<po-page-default>
    <h2>Cadastrar novo professor</h2>
    <po-input p-label="Nome professor:"></po-input>
    <po-select
        name="titulo"
        p-label="Título:"
        [p-options]="[
            { label: 'Mestre', value: '1' },
            { label: 'Doutor', value: '2' },
            { label: 'PHD', value: '3' }
        ]">
    </po-select>
    <po-button p-label="Cancelar"(p-click)="cancelar()"></po-button>
    <po-button p-label="Próximo" (p-click)="proximo()"></po-button>
    
</po-page-default>