<div class="po-row">
    <div class="po-md-12 div-cadastro">
        <h2>Disciplinas Cadastradas</h2>
        <div class="scroll">
            <ul class="list-type">
                <div *ngFor="let disciplina of disciplinas">
                    <app-disciplina
                        [disciplina]="disciplina.nome" 
                        (eventoDisciplina)="eventoLista($event)">
                    </app-disciplina>
                </div>
            </ul>
        </div>
    </div>
</div>
<po-modal [p-title]="tituloModal" [p-primary-action]="confirmar" [p-secondary-action]="fechar">
    <form
        class="min-heigt-modal"
        *ngIf="exibindoCadastroDisciplina"
        #optionsForm="ngForm"
        [formGroup]="disciplinasForm">
        <div>
            <po-input
                id="nomeDisciplina"
                name="nomeDisciplina"
                p-label="Nome disciplina:" 
                formControlName="nome"
                p-placeholder="Informe o nome da disciplina">
            </po-input>
            <app-mensagem-erro
                *ngIf="disciplinasForm.get('nome').errors?.required"
                texto="Nome é um campo obrigatório.">
            </app-mensagem-erro>
        </div>
        <div>
            <po-select
                id="ProfessorDisciplina"    
                name="Professor"    
                p-label="Selecione o professor:"
                formControlName="professor"
                [p-options]="professores">
            </po-select>
            <app-mensagem-erro
                *ngIf="disciplinasForm.get('professor').errors?.required"
                texto="Professor é um campo obrigatório.">
            </app-mensagem-erro>
            <po-button
                id="adicionarProfessorDisciplinaBtn"
                class="float-right"
                p-label="Adicionar"
                (p-click)="irParaCadastroProfessor()">
            </po-button>
        </div>
        <po-input
            id="cargaHorariaDisciplina"
            name="cargaHoraria"
            p-label="Carga Horaria:"
            formControlName="cargaHoraria"
            p-placeholder="Informe a carga horária"
            p-mask="99">
        </po-input>
        <app-mensagem-erro
            *ngIf="disciplinasForm.get('cargaHoraria').errors?.required"
            texto="Carga horaria é um campo obrigatório.">
        </app-mensagem-erro>
    </form>
    <form
        class="min-heigt-modal"
        *ngIf="exibindoCadastroProfessor"
        [formGroup]="professorForm">
        <div>
            <po-input
                id="nomeProfessor"
                name="nomeProfessor"
                p-label="Nome professor:"
                formControlName="nome"
                p-placeholder="Informe o nome do professor">
            </po-input>
            <app-mensagem-erro 
                *ngIf="professorForm.get('nome').errors?.required"
                texto="Professor é um campo obrigatório">
            </app-mensagem-erro>
        </div>
        <div>
            <po-select
                id="tituloProfessor"
                name="titulo"
                p-label="Selecione o título:"
                formControlName="titulo"
                [p-options]="[
                    { label: 'Mestre', value: 'mestre' },
                    { label: 'Doutor', value: 'doutor' },
                    { label: 'PHD', value: 'phd' }
                ]">
            </po-select>
            <app-mensagem-erro 
                *ngIf="professorForm.get('titulo').errors?.required"
                texto="Título é um campo obrigatório">
            </app-mensagem-erro>
        </div>
    </form>
</po-modal>  
<div class="po-md-12" class="div-button">
    <po-button
        id="voltarTurmaBtn"
        p-type="danger"
        p-label="Voltar"
        (p-click)="voltar()">
    </po-button>
    <po-button
        id="AdicionarDisciplinasBtn"
        p-label="Adicionar"
        (p-click)="openQuestionnaire()">
    </po-button>
    <po-button
        id="ProximoDisciplinasBtn"
        p-type="primary"
        p-label="Próximo"
        (p-click)="proximo()">
    </po-button>
</div>
    