<h2>Disciplinas Cadastradas:</h2>
<ul style="list-style-type: none">
    <div *ngFor="let disciplina of disciplinas">
        <app-disciplina [disciplina]="disciplina.nome" (eventoDisciplina)="eventoLista($event)" ></app-disciplina>
    </div>
</ul>
<div style="display: flex; justify-content: space-between;">
    <po-button p-type="danger" p-label="Voltar" (p-click)="voltar()"></po-button>
    <po-button p-label="Adicionar" (p-click)="adicionarDisciplina()"></po-button>
    <po-button p-type="primary" p-label="Próximo" (p-click)="proximo()"></po-button>
</div>
    