<div class="po-row">
    <div class="po-md-12" style="padding-bottom: 5px; padding-top: 20px;">
        <h2>Disciplinas Cadastradas</h2>
        <div style="overflow-y: auto; max-height: 350px;">
            <ul style="list-style-type: none">
                <div *ngFor="let disciplina of disciplinas">
                    <app-disciplina [disciplina]="disciplina.nome" (eventoDisciplina)="eventoLista($event)" ></app-disciplina>
                </div>
            </ul>
        </div>
    </div>
</div>
<po-modal [p-title]="tituloModal" [p-primary-action]="confirmar" [p-secondary-action]="fechar">
    <form style="min-height: 300px;" *ngIf="exibindoCadastroDisciplina" #optionsForm="ngForm" [formGroup]="disciplinasForm">
        <div>
            <po-input
                name="nomeDisciplina"
                p-label="Nome disciplina:" 
                formControlName="nome"
                p-placeholder="Informe o nome da disciplina">
            </po-input>
            <app-mensagem-erro
                *ngIf="disciplinasForm.get('nome').errors?.required"
                texto="Nome é um campo obrigatório.">
            </app-mensagem-erro>
        </div>
        <div>
            <po-select
                name="Professor"    
                p-label="Selecione o professor:"
                formControlName="professor"
                [p-options]="professores">
            </po-select>
            <app-mensagem-erro
                *ngIf="disciplinasForm.get('professor').errors?.required"
                texto="Professor é um campo obrigatório.">
            </app-mensagem-erro>
            <po-button style="float:right" p-label="Adicionar" (p-click)="irParaCadastroProfessor()"></po-button>
        </div>
        <po-input
            name="cargaHoraria"
            p-label="Carga Horaria:"
            formControlName="cargaHoraria"
            p-placeholder="Informe a carga horária"
            p-mask="99">
        </po-input>
        <app-mensagem-erro
            *ngIf="disciplinasForm.get('cargaHoraria').errors?.required"
            texto="Carga horaria é um campo obrigatório.">
        </app-mensagem-erro>
    </form>
    <form style="min-height: 300px;" *ngIf="exibindoCadastroProfessor" [formGroup]="professorForm">
        <div>
            <po-input
                name="nomeProfessor"
                p-label="Nome professor:"
                formControlName="nome"
                p-placeholder="Informe o nome do professor">
            </po-input>
            <app-mensagem-erro 
                *ngIf="professorForm.get('nome').errors?.required"
                texto="Professor é um campo obrigatório">
            </app-mensagem-erro>
        </div>
        <div>
            <po-select
                name="titulo"
                p-label="Selecione o título:"
                formControlName="titulo"
                [p-options]="[
                    { label: 'Mestre', value: 'mestre' },
                    { label: 'Doutor', value: 'doutor' },
                    { label: 'PHD', value: 'phd' }
                ]">
            </po-select>
            <app-mensagem-erro 
                *ngIf="professorForm.get('titulo').errors?.required"
                texto="Título é um campo obrigatório">
            </app-mensagem-erro>
        </div>
    </form>
</po-modal>  
<div class="po-md-12" style="display: flex; justify-content: space-between; padding-top: 20px;">
    <po-button p-type="danger" p-label="Voltar" (p-click)="voltar()"></po-button>
    <po-button p-label="Adicionar" (p-click)="openQuestionnaire()"> </po-button>
    <po-button p-type="primary" p-label="Próximo" (p-click)="proximo()"></po-button>
</div>
    