<h2>Cadastrar novo aluno</h2>
<form [formGroup]="alunoForm">
    <label>Número matricula: {{ numeroMatricula }}</label>
    <po-input p-label="Nome aluno:" formControlName="nome"></po-input>
    <div>
        <po-select
        formControlName="ingresso"
        (p-change)="selecionarIngresso($event)"
        name="select"
        p-label="Ingresso:"
        [p-options]="[
            { label: 'Vestibular', value: 'vestibular' },
            { label: 'Enade', value: 'enade' }
        ]">
    </po-select>  
    </div>
    <po-button p-type="danger" p-label="Cancelar"(p-click)="cancelar()"></po-button>
    <po-button p-type="primary" p-label="Concluir" (p-click)="cadastrarAluno()"></po-button>
</form>