<div class="po-row">
    <div class="po-md-12 div-cadastro">        
        <h2>Alunos Cadastrados</h2>
        <div class="scroll">
            <ul class="list-type">
                <li *ngFor="let aluno of alunos">
                    <app-aluno [nome]="aluno.nome"  (eventoAluno)="eventoLista($event)"></app-aluno>
                </li>
            </ul>
        </div>
    </div>
</div>
<po-modal p-title="Cadastrar novo aluno" [p-primary-action]="confirmar" [p-secondary-action]="fechar">
    <form #optionsForm="ngForm" [formGroup]="alunoForm">
        <label>Número matricula: {{ numeroMatricula }}</label>
        <div>
            <po-input
                name="nomeAluno"
                p-label="Nome aluno:"
                formControlName="nome"
                p-placeholder="Informe o nome do aluno">
            </po-input>
            <app-mensagem-erro
                *ngIf="alunoForm.get('nome').errors?.required"
                texto="Nome é um campo obrigatório.">
            </app-mensagem-erro>
        </div>
        <div>
            <po-select
                name="ingresso"
                p-label="Selecione o ingresso:"
                formControlName="ingresso"
                (p-change)="selecionarIngresso($event)"
                [p-options]="[
                    { label: 'Vestibular', value: 'vestibular' },
                    { label: 'Enade', value: 'enade' }
                ]">
            </po-select>  
            <app-mensagem-erro
                *ngIf="alunoForm.get('ingresso').errors?.required"
                texto="Ingresso é um campo obrigatório.">
            </app-mensagem-erro>
        </div>
    </form>
</po-modal>
<div class="div-button">
    <po-button p-type="danger" p-label="Voltar" (p-click)="voltar()"></po-button>    
    <po-button p-label="Adicionar" (p-click)="adicionar()"> </po-button>
    <po-button p-type="primary" p-label="Concluir" (p-click)="validarTurma()"></po-button>
</div>
  
