<po-page-default>
    <h2>Alunos Cadastrados</h2>
    <ul style="list-style-type: none">
        <li *ngFor="let aluno of alunos">
            <app-aluno [nome]="aluno.nome"></app-aluno>
        </li>
    </ul>
    <po-button p-label="Cancelar" (p-click)="cancelar()"></po-button>
    
    <po-modal 
        p-title="Cadastrar novo aluno" 
        [p-primary-action]="confirmar" 
        [p-secondary-action]="close">
        <form #optionsForm="ngForm" [formGroup]="alunoForm">
            <po-input formControlName="nome" name="nome" p-label="Nome Completo:"></po-input>
            <po-select
                formControlName="ingresso"
                (p-change)="selecionarIngresso($event)"
                name="select"
                p-label="Ingresso:"
                [p-options]="[
                    { label: 'Vestibular', value: '1' },
                    { label: 'Enade', value: '2' }
                ]">
            </po-select>          
        </form>
    </po-modal>
    <po-button p-label="Adicionar" (p-click)="openQuestionnaire()"> </po-button>     
    <po-button p-label="Concluir" (p-click)="finalizarTurma()"></po-button>


</po-page-default>